<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearPersonaje</servlet-name>
        <servlet-class>controlador.servlet.CrearPersonaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearHechizo</servlet-name>
        <servlet-class>controlador.servlet.CrearHechizo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirHechizo</servlet-name>
        <servlet-class>controlador.servlet.AnadirHechizo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElegirPersonajes</servlet-name>
        <servlet-class>controlador.servlet.ElegirPersonajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatalllaEnProceso</servlet-name>
        <servlet-class>controlador.servlet.BatalllaEnProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>controlador.servlet.Eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearPersonaje</servlet-name>
        <url-pattern>/CrearPersonaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearHechizo</servlet-name>
        <url-pattern>/CrearHechizo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirHechizo</servlet-name>
        <url-pattern>/AnadirHechizo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElegirPersonajes</servlet-name>
        <url-pattern>/ElegirPersonajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatalllaEnProceso</servlet-name>
        <url-pattern>/BatalllaEnProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
